.admin-dashboard {
    background-image: url(../assets/bg-1-edited.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    flex-wrap: nowrap;
}

.dashboard-content {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 6.25vw; /* 120px / 1920px */
    box-sizing: border-box;
    margin-top: 10px;
}

.content-tiles {
    display: flex;
    flex-direction: row;
    column-gap: 0.521vw; /* 10px / 1920px */
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 40px;
}

.square-right-tiles {
    display: flex;
    flex-direction: row;
    column-gap: 0.521vw; /* 10px / 1920px */
    width: 100%;
}

#harvesters-square-tile {
    color: rgba(37, 28, 0);
    font-size: 1.25rem; /* 20px / 16px */
    box-shadow: 0.104vw 0.104vw 0.208vw rgba(37, 28, 0, 0.5); /* 2px, 2px, 4px / 1920px */
    width: 27.708vw; /* 532px / 1920px */
    box-sizing: border-box;
}

.text-square {
    margin: 1.875rem; /* 30px / 16px */
}

.top-products-header {
    color: rgb(29, 75, 0);
    font-size: 1.9rem; /* 40px / 16px */
    margin-bottom: -0.125rem; /* -2px / 16px */
}

#top-products-square-tile {
    background-color: rgb(248, 158, 27);
    box-shadow: 0.104vw 0.104vw 0.208vw rgba(37, 28, 0, 0.5); /* 2px, 2px, 4px / 1920px */
    width: 27.708vw; /* 532px / 1920px */
}

.top-product-item {
    color: rgb(255, 255, 255);
    margin-top: -0.625rem; /* -10px / 16px */
}

.top-products-divider {
    height: 0.03125rem; /* 0.5px / 16px */
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1.3rem; /* 5px / 16px */
    margin-top: 0.1875rem; /* 3px / 16px */
    border: none;
}

.Header {
    align-items: center;
    letter-spacing: -0.1875rem; /* -3px / 16px */
    font-size: 3.4375rem; /* 55px / 16px */
    font-family: 'Open Sans';
    font-weight: bold;
    color: rgb(29, 75, 0);
    margin-top: 0.3125rem; /* 5px / 16px */
    margin-bottom: 0.9375rem; /* 15px / 16px */
}

.harv-count-text {
    margin-bottom: -10px;
}

#date-text {
    color: rgb(29, 75, 0);
}

#user-count-text {
    color: rgb(248, 158, 27);
}

.footer {
    bottom: 0;
    align-items: center;
}

.statistic-tiles {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 0.625rem; /* 10px / 16px */
}

#product-stats:hover {
    background-color: rgb(29, 75, 0);
}

.divider {
    height: 1.5px; /* 1px / 16px */
    width: 100%;
    background-color: rgb(29, 75, 0);
    margin-bottom: 1.875rem; /* 30px / 16px */
    margin-top: 0.1875rem; /* 3px / 16px */
    border: none;
}

.space {
    height: 46.296vh; /* 500px / 1080px */
}