

.admin-products {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem; 
    padding: 0 20px; 
    margin-right: 70px;
    margin-left: 70px;
}

.manage-products-header {
    margin-right: 95px;
    margin-left: 95px;
    margin-top: 60px;
}

.add-product-button-content {
    display: flex;
    align-items: center;
    justify-content: start;
}

.add-product-button-icon-add {
    margin-right: 40px;
}

.add-product-button-icon-cancel {
    margin-right: 105px;
}

.admin-new-product-form {
    display: flex;
    line-height: 10px;
    flex-direction: column;
    font-family: 'Open Sans';
    justify-content: space-between;
    border: 1.5px;

    padding: 10px;
}

.new-product-form-header {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 0px;
    color: blanchedalmond;
    margin-bottom: 1px;
}

.manage-products-header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: -40px;
    margin-bottom: 10px;
}

.admin-new-product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 152, 18);
    width: 40vw;
    max-width: 50vw;
    padding: 1.25rem;
    box-sizing: border-box;
    
    border-radius: 0.3125rem;
    margin-bottom: 1.25rem;
    height: 156px;
    justify-content: center;
    color: rgb(243, 237, 226);
}

.product-form {
    display: flex;
    flex-direction: row;
    justify-content:start;
    width: 100%;
    margin-left: 15px;
    margin-bottom: 10px;
}

.new-product-form-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    width: 100%;
}

.new-product-form-divider {
    height: 1px;
    background-color:blanchedalmond;
    width: 100%;
    color: rgb(57, 93, 35);
    border: none;

}

.add-product-btn {
    border: none;
    border-radius: 200px;
    height: 40px;
    width: 200px;
    border: 1px;
    font-weight: bold;
}

.add-product-btn:hover {
    background-color: rgb(93, 150, 57);
}

.new-product-form-field-label {
    color: rgb(57, 93, 35);
    font-weight: bold;
    font-size: 10.5px;
    margin-right: 5px;
}

.submit-product-btn {
    color:blanchedalmond;
    font-weight: bold;
    background-color: rgb(93, 150, 57);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 25px;
    width: 125px;
}

.submit-product-btn:hover {
    background-color: rgb(106, 175, 64);
}

.new-product-form-row {
    display: flex;
    flex-direction: row;
}

.new-product-form-upper {
    width: 555px;
    display: flex;
    flex-direction: column;
}

.new-product-form-field {
    background-color: blanchedalmond;
    border: none;
    border-radius: 3px;
    color: rgb(57, 93, 35);
    margin-right: 7px;
    height: 15px;
}

.new-product-header-row-fields {
    justify-content: center;
    display: flex;
    flex-direction: row;
    max-width: 555px;
    margin-bottom: 10px;
}

#smaller-field {
    width: 90px;
}

#form-field-width {
    width: 161px;
}

#image-form-field {
    width: 80px;
}