.admin-content-row {
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    justify-content: center;
}

.admin-users {
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
    padding: 200 20px;

}