

.admin-product-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    width: 40vw;
    max-width: 50vw;
    padding: 1.25rem;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 0.3125rem;
    margin-bottom: 1.25rem;
    height: 156px;
    justify-content: center;
    transition: transform 0.4s ease-out, box-shadow 0.4s ease-out, background-color 0.2s ease; 
}

.admin-product-card:hover {
    box-shadow: 0 0.27rem 0.6rem rgba(0, 0, 0, 0.15); 
    background-color: rgba(245, 245, 245, 0.2);
    transform: translateY(-0.25rem); 
}

.admin-product-image-placeholder {
    width: 7.5vw;
    height: 7.5vw;
    background-color: #d3d3d3;
    margin-right: 1.25rem;
}

.admin-product-image {
    width: 7.5vw;
    height: 7.5vw;
    object-fit: cover;
}

.admin-product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.admin-product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
}

.admin-product-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
}

.admin-edit-icon {
    font-size: 1.25rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.admin-edit-icon:hover {
    color: rgb(76, 124, 47);
}

.admin-buttons {
    display: flex;
    flex-direction: row;
}

.admin-divider {
    height: 0.03125rem; 
    width: 100%;
    background-color: rgb(177, 177, 177);
    margin-bottom: 7px;
    margin-top: 0px; 
    border: none;
}

.admin-product-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.725rem;
    margin-bottom: -.25rem;
    margin-left: 10px;
    font-size: 10.5px;
}

.admin-info-item {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.admin-info-label {
    font-family: 'Open Sans', sans-serif;
    /* font-size: 0.75rem; */
    font-weight: bold;
    color: rgb(100, 100, 100);
    text-transform: uppercase;
    margin-bottom: -1px;
    margin-left: -10px;
    margin-right: 10px;
}

.admin-info-value {
    font-family: 'Open Sans', sans-serif;
    /* font-size: 0.875rem; */
    color: rgb(0, 0, 0);
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.admin-product-description {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    margin: -10px;
    margin-left: 0px;
    margin-right: 0.5px;
}

.admin-description-label {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: -0.18rem;
    font-weight: bold;
    color: rgb(100, 100, 100);
    font-size: 10.5px;
    text-transform: uppercase;
}

.admin-description-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 10.5px;
    color: rgb(0, 0, 0);
    margin: 0;
    line-height: -1.2px;
}

.admin-remove-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-left: 10px;
}

.admin-remove-icon:hover {
    color: #ad0b0b;
}

.admin-save-btn {
    cursor: pointer;
    color: rgb(93, 150, 57);
    border: none;
    font-weight: bold;
    display: flex;
    justify-content: end;
    flex-direction: row;
    background-color: white;
    margin-right: -8px;
    margin-bottom: -7px;
}

.save-edit-btn {
    color: rgb(0, 0, 0);
}

.save-edit-btn:hover {
    color: rgb(93, 150, 57);
}


#product-edit-form-field {
    width: 50px;
    background-color: rgb(235, 235, 235);
    font-size: 10px;
}

#product-edit-form-field-desc {
    background-color: rgb(235, 235, 235);
    font-family: 'Open Sans';
    height: 20px;
    font-size: 10px;
    margin-top: 5px;
}

#product-edit-form-field-select {
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 3px;
    color: rgb(57, 93, 35);
    height: 15px;
    margin-left: -10px;
    margin-top: 1px;

    font-size: 10px;
}

.new-product-form-field-title {
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
    color: rgb(57, 93, 35);
    margin-right: 7px;
    height: 15px;
    background-color: rgb(235, 235, 235);
    height: 25px;
    padding-left: 5px;
}