
.user-tile {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid #e0e0e0; 
    border-top-left-radius: 100px; 
    border-bottom-left-radius: 100px; 
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 120px; 
    transition: transform 0.4s ease-out, box-shadow 0.4s ease-out, background-color 0.2s ease; 
    width: 400px;
    margin-left: 30px;
}

.usertile-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.usertile-delete-button {
    background-color: rgb(214, 15, 15);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 21px;
}

.usertile-delete-button:hover {
    background-color:  rgb(225, 0, 0);;
}

.usertile-delete-icon {
    color: #ececec;
    align-self: center;
}

.user-tile:hover {
    box-shadow: 0 0.27rem 0.6rem rgba(0, 0, 0, 0.15); 
    background-color: rgba(245, 245, 245, 0.2);
    transform: translateY(-0.25rem); 
}

.avatar {
    width: 85px;
    height: 85px;
    border-radius: 500px;
    background-color: #5f993b;
    color:#4C7C2F;
    margin-right: 20px;
    margin-left: 4px;
}


.user-divider {
    height: 0.03125rem; 
    width: 100%; 
    background-color: rgb(177, 177, 177); 
    margin: 0.25rem 0; 
    border: none;
    margin-top: 10px;
}

.user-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: 100%;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem; 
}

.user-details {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
}

.detail-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    color: rgb(100, 100, 100);
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: -7px;
}

.detail-value {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    margin-bottom: -7px;
}

.user-type {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: #4C7C2F; 
    text-transform: uppercase;
    white-space: nowrap;
}

.type-container {
    display: flex;
    justify-content: flex-end; 
    margin-top: auto; 
}